#footer {
    background-color: var(--bs-red);
    color: white;
}

@media screen and (max-width: 600px) {
    #footer {
        padding: 0 !important;
        text-align: center;
        justify-content: center !important;
        font-size: 0.6em;
    }
}
